header {
	background: orange;
}

	header .header_container .header_navigation a .header_navigation_item {
		display: none;
	}

	header .header_container .header_navigation #header_navigation_button {
		display: block;

		color: white;
		font-size: 48px;

		cursor: pointer;
	}