header {
	background: green;

	flex-direction: column;
}

	header .header_container {
		flex-direction: column;
	}

	header .header_container a .header_title {
		font-size: 28px;
		letter-spacing: 5px;
	}

.home_projects {
	padding: 20px;
}

	.home_projects .project_container {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.home_projects .project_container .project_text .project_text_title {
		font-size: 32px;
		letter-spacing: 8px;
		text-align: center;
	}

	.home_projects .project_container .project_text .project_text_subtitle {
		font-size: 18px;
	}

	.home_projects .project_container .project_image img {
		max-height: 100px;
	}